body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.control-panel {
  font-size: 14px;
  color: black;
  background-color: #0f77ab;
  width: fit-content;
  display: flex;
  top: 0px;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  padding: 15px;
  align-items: baseline;
  position: fixed;
  z-index: 2;
}

.document-layOut {
  position: relative;
  margin-top: 100px;
}

.clickable {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: lightgray;
}
